<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alertregister.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/links.css') }}">
    <title>Register</title>
</head>
<body>
    <div class="alert-messageRegister" style="display: none;">
        <div class="error-messagesRegister">
            <ul>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <li class="{{ category }}">
                            {% if category == 'error' %}
                                <i class="bx bx-error-circle" style="color: blue; margin-right: 5px;"></i>
                            {% endif %}
                            {{ message }}
                        </li>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </ul>            
            <button class="alert-ok-buttonRegister">OK</button>
        </div>
    </div>

    <div class="container">
        <div class="box">
            <h1>Register</h1>
            <div class="logo">
                <img src="{{ url_for('static', filename='images/png.png') }}" alt="" width="75" height="auto">
            </div>
            <form action="{{ url_for('auth.register') }}" method="POST">
                <div class="input-box">
                    <input type="text" id="username" name="username" placeholder="Username" required>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="input-box">
                    <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
                    <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
                </div>
                <div class="input-box">
                    <input type="date" id="birthday" name="birthday">
                    <select id="marital_status" name="marital_status">
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div>
                <div class="input-box">
                    <input type="text" id="address" name="address" placeholder="Address" required>
                    <input type="text" id="contact_info" name="contact_info" placeholder="Contact Info">
                </div>
                <div class="input-box">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <input type="submit" value="Register" class="btn" id="submit">
            </form>
            <p>Already have an account? <a href="/login"><span style="color: #0aa45f; font-size: 14px; text-decoration: underline; margin-left: 10px;">Login here.</span></a></p>
        </div>
    </div>
</body>


</html>
